<div class="product_container flex md:flex-row flex-col gap-4">
  <div class="product__media-wrapper w-full md:w-1/2">
    <img
      class="product-main-image w-full object-cover transition-opacity duration-300 ease-in-out group-hover:opacity-0 aspect-[2/1]"
      id="product-image-{{ product.id }}"
      src="{{ product.selected_or_first_available_variant.featured_media | image_url: width: 500  | default: product.featured_image }}"
      alt="{{ product.title }}"
      width="300"
      height="150"
    >
  </div>
  <div class="product__info-wrapper w-full md:w-1/2">
    <section
      id="ProductInfo-{{ section.id }}"
      class="product__info-container flex flex-col gap-4 items-stretch"
    >
      {%- assign product_form_id = 'product-form-' | append: section.id -%}
      <a href="{{ product.url }}">
        <div class="product__title hover:underline">
          <h1
            class="text-gray-900"
          >
            {{ product.title | escape }}
          </h1>
        </div>
      </a>

      <div id="price-{{ section.id }}" role="status">
        {%- render 'price', product: product, use_variant: true, show_badges: false, price_class: 'price--large' -%}
      </div>
      {% render 'product-variant-picker', product: product, product_form_id: product_form_id %}
      {%  render 'add-to-cart-button', product: product, product_form_id: product_form_id %} 
    </section>
  </div>
</div>

<script>
  window.quickViewVariants = {{ product.variants | json }};
</script>

{%- if product.media.size > 0 -%}
  <script src="{{ 'product-modal.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {{ product | structured_data }}
</script>


