<div class="product grid grid-cols-2">
  <div class="grid__item product__media-wrapper">
    <img
      class="product-main-image w-full object-cover transition-opacity duration-300 ease-in-out group-hover:opacity-0 aspect-[2/1]"
      id="product-image-{{ product.id }}"
      src="{{ product.selected_or_first_available_variant.featured_media | image_url: width: 300  | default: product.featured_image }}"
      alt="{{ product.title }}"
      width="300"
      height="150"
    >
  </div>

  <div class="product__info-wrapper grid__item">
    <section
      id="ProductInfo-{{ section.id }}"
      class="product__info-container"
    >
      {%- assign product_form_id = 'product-form-' | append: section.id -%}
      <div class="product__title" {{ block.shopify_attributes }}>
        <h1
          class="text-gray-900"
        >
          {{ product.title | escape }}
        </h1>
      </div>
      <div id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
        {%- render 'price', product: product, use_variant: true, show_badges: false, price_class: 'price--large' -%}
      </div>
      {% render 'product-variant-picker', product: product, product_form_id: product_form_id %}
      {%- render 'buy-buttons',
        block: block,
        product: product,
        product_form_id: product_form_id,
        section_id: section.id,
        show_pickup_availability: true
      -%}
      <a href="{{ product.url }}" class="link product__view-details animate-arrow">
        {{ 'products.product.view_full_details' | t }}
        {{- 'icon-arrow.svg' | inline_asset_content -}}
      </a>
    </section>
  </div>
</div>

<script>
  window.quickViewVariants = {{ product.variants | json }};
</script>

{%- if product.media.size > 0 -%}
  <script src="{{ 'product-modal.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {{ product | structured_data }}
</script>
