{{ 'hero-slider.css' |  asset_url |  stylesheet_tag }}

<section class="hero-slider flex flex-col justify-center items-center">
  <div class="hero-slider__title max-h-[20%] w-3/4 flex justify-center items-start text-grey-900 font-bold text-[34px] md:text-[48px] lg:text-[56px] text-center">
    {{ section.settings['hero-slider-title'] }}
  </div>
  <div class="hero-slider__products swiper max-h-[60%] hero-slider__slider h-1/3 overflow-hidden">
    <div
      class="swiper-button-prev left-0 bg-gray-100 rounded-full after:text-gray-700 hover:bg-gray-200 transition-colors duration-300"
    ></div>
    <div
      class="swiper-button-next right-0 bg-gray-100 rounded-full after:text-gray-700 hover:bg-gray-200 transition-colors duration-300"
    ></div>
    <div class="swiper-wrapper">
      {% for product in section.settings['hero-slider-products'] limit: 10 %}
        <div
          class="swiper-slide product__image"
          data-handle="{{ product.handle }}"
        >
          <img
            class="product-main-image"
            id="product-image-{{ product.id }}"
            src="{{ product.featured_media | image_url: width: 500 }}"
            width="auto"
            height="auto"
          >
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="hero-slider__content max-h-[20%] h-1/3 flex flex-col justify-start items-center gap-4 mt-4">
    <div class="product__title text-gray-700 font-medium text-[16px]"></div>
    <div class="product__price text-gray-900 font-semibold text-[24px]"></div>
    <div class="product__link bg-gray-800 text-gray-100 px-6 py-3.5 rounded-2xl font-medium text-[16px] hover:bg-gray-100 hover:text-gray-900 hover:border hover:border-gray-900 transition-colors duration-300 cursor-pointer">
      <a href="#" class="product__link-btn">Shop now</a>
    </div>
  </div>
</section>

<script src="{{ 'hero-slider.js' |  asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Hero Slider",
  "class": "hero-slider",
  "settings": [
    {
      "type": "text",
      "id": "hero-slider-title",
      "label": "Title",
      "default": "Everything You Need for a Modern Interior"
    },
    {
      "type": "product_list",
      "id": "hero-slider-products",
      "label": "Select your products"
    }
  ],
  "presets": [
    {
      "name": "Hero Slider"
    }
  ]
}
{% endschema %}
